<div class="node-content">
    {{#if isCustom }}
        <a class="btn btn-danger btn-xs btn-delete"><i class="fa fa-times"></i></a>
    {{/if}}

    <div class="node-heading">
        <span class="icon {{type}}"></span>
        <span class="time">{{ time }}</span>
    </div>
    <div class="node-body">
        <div class="title">{{ name }}</div>
        <div class="time-remaining">
            {{ earth_time_remaining.minutes }}m {{ earth_time_remaining.seconds }}s
        </div>
        {{#if slot}}
            <div class="slot">[slot {{ slot }}]</div>
        {{/if}}
        {{#if location }}
            <div class="location">{{ location }}, {{ pos }}</div>
        {{/if}}
    </div>
</div>