<div class="node-content {{classes}}">
    {{#if isCustom }}
        <a class="btn btn-danger btn-xs btn-delete"><i class="fa fa-times"></i></a>
    {{/if}}

    <div class="node-heading">
        <span class="icon {{type}}"></span>
        <span class="time">{{ time }}</span>
    </div>
    <div class="node-body">
        <div class="title">
            {{ name }}
            {{#if is_collectable}}<i class="fa fa-cube"></i>{{/if}}
            {{#if is_ephemeral}}<i class="fa fa-star"></i>{{/if}}
        </div>
        {{#if active}}
        <div class="small"><i>time remaining:</i></div>
        <div class="earth-time time-remaining">
            {{ earth_time_remaining.minutes }}m {{ earth_time_remaining.seconds }}s
        </div>
        {{else}}
        <div class="small"><i>time until:</i></div>
        <div class="earth-time time-until">
            {{#if untilHours }}
                {{ earth_time_until.hours }}h
            {{/if}} 
            {{ earth_time_until.minutes }}m {{ earth_time_until.seconds }}s
        </div>
        {{/if}}
        {{#if slot}}
            <div class="slot">[slot {{ slot }}]</div>
        {{/if}}
    </div>
    <div class="node-footer">
        {{#if location }}
            <div class="location">{{ location }}</div>
        {{/if}}
        {{#if pos }}
            <div class="pos">{{ pos }}</div>
        {{/if}}
    </div>

</div>